* {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: rgb(227, 137, 255);
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    color: white;
    margin-left: 20px;
    margin-top: 25px;
}

#palabra-contenedor{
    background-color: rgb(126, 117, 133);
    width: 250px;
    height: 40px;
    border-radius: 10px;
}

.letra {
    margin-left: 20px;
    margin-top: 10px;
}
span, h1, p {
    color: white;
}

input {
    width: 30px;
    height: 30px;
}

.contenedor-grande {
    width: 450px;
    height: 330px;
    background-color: rgb(61, 52, 78);
    border-radius: 10px;
    margin-top: 20px;
    
}